<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
	<Properties>
		<Property name="log-path">log</Property>
		<Property name="stats-path">stats</Property>
	</Properties>

	<Appenders>
		<!-- The file-log appender logs the output from the CollectCDCStats tool -->
		<RollingFile name="file-log" fileName="${log-path}/CollectCDCStats.log"
			filePattern="${log-path}/CollectCDCStats-%d{yyyy-MM-dd-HH}.log.gz">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${log-path}" maxDepth="1">
					<IfLastModified age="7d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %c{1} - %msg%n" />
		</Console>

		<!-- The csvRouting router is used to log the subscription status, statistics 
			and event logs if the logToCsv property has been set to true in the conf/CollectCDCStats.properties 
			file. Three context switches can be used to assign the appropriate route 
			and allow for flexibility in the naming and location of the logs files. ${ctx:type} 
			is the type of the data that is being written, SubStatus, Statistics or EventLog. 
			${ctx:dataStore} is the name of the source datastore for which subscriptions 
			are monitored. ${ctx:subscriptionName} holds the name of the subscription. 
			${ctx:header} holds the header row to be placed at the start of each new 
			CSV file (if wanted). Finally ${ctx:separator} is the separator character 
			used in the CSV records -->
		<Routing name="csvRouting">
			<Routes pattern="${ctx:dataStore}-${ctx:type}">
				<Route>
					<RollingFile name="${ctx:dataStore}-${ctx:type}"
						fileName="${stats-path}/${ctx:dataStore}-${ctx:type}.csv"
						filePattern="${stats-path}/${ctx:dataStore}-${ctx:type}-%d{yyyy-MM-dd-HH}.csv.gz">
						<CsvParameterLayout delimiter="${ctx:separator}"
							header="${ctx:header}${sys:line.separator}" />
						<Policies>
							<TimeBasedTriggeringPolicy interval="1"
								modulate="true" />
						</Policies>
						<DefaultRolloverStrategy>
							<Delete basePath="${stats-path}" maxDepth="1">
								<IfLastModified age="7d" />
							</Delete>
						</DefaultRolloverStrategy>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>

		<!-- The ffRouting-* routers are used to log the subscription status, statistics 
			and event logs in a flexible format. Dependent on the context: Subscription 
			Status, Metrics or Event Log, several context columns will be available, 
			which can be dynamically placed on the line that is logged to the flat file 
			in question. -->
		<Routing name="ffRouting-logSubscriptionStatus">
			<Routes pattern="${ctx:dataStore}-${ctx:type}">
				<Route>
					<RollingFile name="${ctx:dataStore}-${ctx:type}"
						fileName="${stats-path}/${ctx:dataStore}-${ctx:type}.log"
						filePattern="${stats-path}/${ctx:dataStore}-${ctx:type}-%d{yyyy-MM-dd-HH}.log.gz">
						<PatternLayout
							pattern='%X{collectTimestamp},dataStore="%X{dataStore}",subscriptionName="%X{subscriptionName}",subscriptionState="%X{subscriptionState}"%n' />
						<Policies>
							<TimeBasedTriggeringPolicy interval="1"
								modulate="true" />
						</Policies>
						<DefaultRolloverStrategy>
							<Delete basePath="${stats-path}" maxDepth="1">
								<IfLastModified age="7d" />
							</Delete>
						</DefaultRolloverStrategy>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
		<Routing name="ffRouting-logMetrics">
			<Routes pattern="${ctx:dataStore}-${ctx:type}">
				<Route>
					<RollingFile name="${ctx:dataStore}-${ctx:type}"
						fileName="${stats-path}/${ctx:dataStore}-${ctx:type}.log"
						filePattern="${stats-path}/${ctx:dataStore}-${ctx:type}-%d{yyyy-MM-dd-HH}.log.gz">
						<PatternLayout
							pattern='%X{collectTimestamp},dataStore="%X{dataStore}",subscriptionName="%X{subscriptionName}",metricSourceTarget="%X{metricSourceTarget}",metricID="%X{metricID}",metricValue="%X{metricValue}"%n' />
						<Policies>
							<TimeBasedTriggeringPolicy interval="1"
								modulate="true" />
						</Policies>
						<DefaultRolloverStrategy>
							<Delete basePath="${stats-path}" maxDepth="1">
								<IfLastModified age="7d" />
							</Delete>
						</DefaultRolloverStrategy>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
		<Routing name="ffRouting-logEvent">
			<Routes pattern="${ctx:dataStore}-${ctx:type}">
				<Route>
					<RollingFile name="${ctx:dataStore}-${ctx:type}"
						fileName="${stats-path}/${ctx:dataStore}-${ctx:type}.log"
						filePattern="${stats-path}/${ctx:dataStore}-${ctx:type}-%d{yyyy-MM-dd-HH}.log.gz">
						<PatternLayout
							pattern='%X{eventTimestamp},dataStore="%X{dataStore}",subscriptionName="%X{subscriptionName}",sourceTarget="%X{sourceTarget}",eventID="%X{eventID}",eventType="%X{eventType}",eventMessage="%X{eventMessage}"%n' />
						<Policies>
							<TimeBasedTriggeringPolicy interval="1"
								modulate="true" />
						</Policies>
						<DefaultRolloverStrategy>
							<Delete basePath="${stats-path}" maxDepth="1">
								<IfLastModified age="7d" />
							</Delete>
						</DefaultRolloverStrategy>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>

	</Appenders>

	<Loggers>
		<Logger name="com.ibm.replication.iidr" level="info"
			additivity="false">
			<appender-ref ref="console" />
			<appender-ref ref="file-log" />
		</Logger>

		<!-- The com.ibm.replication.iidr.warehouse.logging.LogCsv logger takes 
			care of logging CSV records of Subscription Status, Statistics and Event 
			logs -->
		<Logger name="com.ibm.replication.iidr.warehouse.logging.LogCsv"
			level="info" additivity="false">
			<appender-ref ref="csvRouting" />
		</Logger>

		<!-- This logger logs subscription status to flat file -->
		<Logger
			name="com.ibm.replication.iidr.warehouse.logging.LogFlatFile.logSubscriptionStatus"
			level="info" additivity="false">
			<appender-ref ref="ffRouting-logSubscriptionStatus" />
		</Logger>

		<!-- This logger logs metrics to flat file -->
		<Logger
			name="com.ibm.replication.iidr.warehouse.logging.LogFlatFile.logMetrics"
			level="info" additivity="false">
			<appender-ref ref="ffRouting-logMetrics" />
		</Logger>

		<!-- This logger logs events to flat file -->
		<Logger
			name="com.ibm.replication.iidr.warehouse.logging.LogFlatFile.logEvent"
			level="info" additivity="false">
			<appender-ref ref="ffRouting-logEvent" />
		</Logger>

		<Root level="debug" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>

